* {
    font-family:monospace, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: rgb(237, 241, 245);
}

body {
    margin: 0px;
}

/* header start */

header {
    display: flex;
    background-color: #30475e;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;

}

header ul {
    display: flex;
    list-style: none;
    gap: 35px;
}

header p, span {
    font-size: 24px;
}

header span {
    color: #f05454;
}

header a {
    text-decoration: none;
    font-size: 24px;
}

header a:hover {
    color: #f05454;
}

/* header ends */

/* home section start */

.home {
    height: 50vh;
    background-color: #1a2631;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.content {
    width: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.content h3 {
    margin: 0%;
    font-size: 40px;
    font-weight: bolder;
    color: #f9faf8;
}
.content p {
    font-size: 18px;
    font-weight: bold;
    color: #e5e7eb;
}

.content a {
    width: max-content;
    text-decoration: none;
    background-color: #f05454;
    padding: 12px;
    border-radius: 20px;
    
}

.content a:hover {
    background-color: #30475e;
}

.image  {
    width: 700px;
    height: 350px;
    border: solid 10px #f05454;
    border-radius: 15px;
}
.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* home section ends */

/* Car section start */

.car {
    height: 43vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #f5f5f5; */
}

.car h3 {
    color: #121212;
    font-size: 35px;
    font-weight: bolder;
}

.car p {
    color: #121212;
    font-weight: bold;
}
.car .cars-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.car-info {
    width: 250px;
}

.car-img {
    width: 250px;
    height: 150px;
}

.car .cars-container .car-info .car-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: solid 5px #f05454;
    border-radius: 10%;
}

/* Car section end */

/* qoute section start */

.qoute .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: fit-content;    
    background-color: #e5e7eb;
    padding: 150px;
}

.qoute .content p {
    color: #1f2937;
    font-size: 30px;
    font-weight: 200;
    font-style: italic;
}

.qoute .content #author {
    align-self: flex-end;
    font-size: 26px;
    font-weight: bolder;
}

.qoute .ads {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: fit-content;
    margin: 100px auto;
    padding: 30px 100px;
    border-radius: 20px;
}


.qoute .ads button {
    background-color: #f05454;
    border-radius: 10px;
    padding: 5px 15px;
}

.qoute .ads button:hover {
    background-color: #30475e;
}

/* qoute section end*/

/* footer start */

footer {
    display: flex;
    justify-content: center;
    background-color: #30475e;
    margin-bottom: 0px;
    padding: 5px 0;
}

/* footer end */